/*Usunięcie zaokrąglonych krawędzi bocznego menu*/
nav.sidebar.navbar {
    border-radius: 0px;
}

/*nav.sidebar, .main{*/
    /*-webkit-transition: margin 200ms ease-out;*/
    /*-moz-transition: margin 200ms ease-out;*/
    /*-o-transition: margin 200ms ease-out;*/
    /*transition: margin 200ms ease-out;*/
/*}*/

/* Add gap to nav and right windows.*/
/*.main{*/
    /*padding: 10px 10px 0 10px;*/
/*}*/

/*side display*/
@media (min-width: 768px) {
    /*Allow main to be next to Nav*/
    .main{
        position: absolute;
        width: calc(100% - 40px); /*keeps 100% minus nav size*/
        margin-left: 40px;
        float: right;
    }

    /*Center Brand*/
    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }

    /*adds border top to first nav box */
    nav.sidebar .navbar-nav > li:first-child{
        border-top: 1px #e5e5e5 solid;
    }

    /*adds border to bottom nav boxes*/
    nav.sidebar .navbar-nav > li{
        border-bottom: 1px #e5e5e5 solid;
    }

    /*allows nav box to use 100% width*/
    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
        padding: 0 0px 0 0px;
    }

    /*gives sidebar width/height*/
    nav.sidebar{
        width: 200px;
        height: 100%;
        float: left;
        z-index: 8000;
        margin-bottom: 0px;
    }

    /*give sidebar 100% width;  !!! */
    nav.sidebar li {
        width: 100%;
    }
}

nav:hover .forAnimate{
    opacity: 1;
}

#sideMenu {
    position: relative;
    background-color: darkgreen;
    min-height: 1800px;
}

#sideMenuContainer {
    position: fixed;
}

.container {
    border-top: solid #000000 2px;
    padding-left: 130px;
    text-align: justify;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.diabList {
    text-decoration: underline;
    padding-top: 8px;
}

.shadowText {
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}
