.bgnd {
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 54vh;
    max-height: 1200px;
    min-height: 200px;
}

.bgnd-1 {
    background-image: url(../photos/tlook4.jpg);
}

.bgnd-2 {
    background-image: url(../photos/diabetes.jpg);
}

.bgnd-3 {
    background-image: url(../photos/food2.jpg);
}

.bgnd-4 {
    background-image: url(../photos/doctor1.jpg);
}

header + .bgnd {
    height: 86vh;
}